<div class="hide-for-small hide-for-medium page_container">
  <div class="slides">
    <ul>
      <% 5.times do |i| %>
        <li>
          <%= image_tag("slideshow/#{i+1}.jpg") %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="home_content">
  <div class="columns large-12">
    <div class="columns large-6">
      <div class="row">
        <h1>Next Meetup</h1>
        <p>To be scheduled</p>
      </div>
    </div>
    <div class="columns large-6">
      <div class="row">
        <h1>Shares</h1>
        <p>No shares yet</p>
      </div>
    </div>
  </div>
</div>